
h1
{
 text-align:center;
 font-size:5em;
 font-family:"Comic Sans MS", cursive, sans-serif;
 color:white;
}

body{
	background-color:orange;
	background-image:url("13-Stock-Wallpaper-Orange-Light.png");	
	
}


.assistantText
{
	margin-top:12%;
    float:right; 
	font-size: 1.8em;
	width:60%;
	height:7%;
	padding-left:10px;
	padding-right:10px;
	background-color:#D1C09D;
	box-sizing:border-box;
	border-radius:12px;
	margin-right:10%;
	margin-bottom:15%;
}

.userText
{
	margin-top:0.9%;
	float:left;
	font-size: 1.8em;
	width:60%;
	height: 7%;
	padding-left:10px;
	padding-right:10px;
	padding-left:2em;
	background-color:#658683;
	box-sizing:border-box;
	border-radius:12px;
	margin-bottom:10%;
}

button
{
color:white;
background-color:blue;
border-radius:40px;
float:right;

}

#image{
position:fixed;
bottom:1%;
margin-left:2%;
margin-top:32px;
margin-right:90px;
height:5%;
width:11%;	
}
#footer
{
    position:fixed;
    bottom:0;
    width:100%;
    padding:5px 5px;
    padding-right:7px;
    margin-bottom:0.5%;
    border-radius:30px;
    border:0.5em solid #9e9e9e50;
    box-sizing:border-box;
    background-color:#fff;
}

input{
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	background-color: white;
	
	
}
.no-outline{
outline: none;	
}

#para
{
position:fixed;
bottom:0;
margin-bottom:0.5%;
margin-top:32%;
padding-left:12%;
padding-top:1.3%;
padding-bottom:3%;
font-size: 1.8em;
box-sizing:border-box;
border-radius:30px;
background-color:white;
width:99%;
}

#search{
	position:absolute;
	margin-top:12%;
	margin-left:40%;
    float:right; 
	width:60%;
	height:70%;
	background-color:blue;
	
}
